body {
    color: white;
    background-color: #190019;

    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 92px;
    }

    .retangulo {
        width: 166px;
        height: 256px; 
        background-color: #2B124C;
        margin-left: 366px;
    }

    .retangulo2 {
        width: 166px;
        height: 256px;
        background-color: #2B124C;
        position: absolute;
        right: 0;  /* Posiciona à direita */
        margin-right: 366px;
        top: 139px;
    }

    .plus {
        position: absolute;
        top: 220px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 100px;
        font-weight: bold;
        color: white;
    }

 .livro1 {
    width: 167px;
    height: 53px; 
    background-color: white;
    margin-left: 366px;
    margin-top: 17px;
    border-radius: 15px;
 }

 .livro2 {
    width: 167px;
    height: 53px; 
    background-color: white;
    position: absolute;
    right: 0;  /* Posiciona à direita */
    margin-right: 366px;
    margin-top: -53px;
    border-radius: 15px;
 }
}